 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;700;900&display=swap');
body{margin: 0;padding: 0;     font-family: 'Fira Sans', sans-serif;}
.main{width: 100%}
.logo_sec{width: 100%; background-color:white;}
.cantainer{width:1170px; margin: 0 auto;}
.cantainer .logo{width:100;margin: 15px;float: left;}
.cantainer .logo img{width: 100%;}

 .logo_sec ul{list-style: none;margin: 25px 0;float: right;}
 .logo_sec ul li{float: left;margin: 0 10px;list-style:none;}
 .logo_sec ul li i{font-size: 25px; padding: 10px;border:2px solid #011d6a;border-radius: 6px;color: #011d6a;}
 .logo_sec ul li span{color: #d30028; font-weight: 700;}

.clear{clear: both;}

 .menu{width: 100%;background-color:#011d6a;float: left;margin: 0;padding: 0}
 .menu ul {list-style: none;margin:0 0 0 15px;padding: 0;float: left;background-color:#011d6a;}
 .menu ul li{float: left;}
 .menu ul li a{text-decoration: none;font-weight: 700;color:white;display: block;padding: 015px;}
 .menu ul li a.active{background-color:#d30028;}
 .menu ul li a:hover{background-color:#d30028;}

 .menu .number{float: right;color: white;padding: 0 70px;background: url(../image/number.png) top right no-repeat;line-height: 50px;font-size: 16px;}
 .menu .number i{margin: 10px;}

 .background{width: 100%;text-align: center;position: relative;}
 .background img{width: 100%}
 .background .bg{position: absolute; left: 0px; top:0px; width:100%; height:100%; background:  rgba(0, 0, 0, 0.6)}
 .background .bg .next_sign {width: 3%;background-color: rgba(255, 255, 255, 0.4);vertical-align: middle;}
 .background .bg .pre_sign  {width: 3%;background-color: rgba(255, 255, 255, 0.4);vertical-align: middle;}
 .background .content{top: 50%; left:50%; width: 600px; position: absolute; color: white; margin-top: -75px; margin-left: -300px}
 .background .content h1{font-size: 36px}


 .block{ width: 100%;margin-top: -70px;position: relative;}
 .box-block{width:22%;margin: 0 1.5%;background-color:#f5f5f5;;float: left;}
 .block .box-block .icon{margin:0 auto;background-color:#011d6a;width: 50px;height: 50px;text-align: center;border-radius: 6px; margin-top: 15px}
 .block .box-block .icon i{color: white;font-size: 26px;margin:0 auto;line-height: 50px;}
 .block .box-block h4{text-align: center;font-weight: 400;}
 .block .box-block h4 span {color: #d30028; font-weight: 700;}

 .about_area{width: 100%;position: relative;margin-top: 50px}
 .about_text{width: 48%;margin: 0 1%; float: left;}
 .about_text span{color: #d30028; font-weight: 700;}
 .about_text h1{color:#011d6a;font-weight: 700;margin: 10px 0 15px 0;line-height: 35px}
 .about_text p{ margin-bottom: 10px;line-height: 30px;font-size: 16px}
 .about_text ul {margin-left:15px; padding: 0;}
 .about_text ul li {width: 47%; float: left;margin: 0;list-style: none;position: relative;padding-left: 15px}
 .about_text ul li::before{content:'';width: 6px;height: 6px;border-radius: 6px;position: absolute;;background-color:#d30028;top: 5px;left: 0}
 .about_photo{width: 48%;margin: 0 1%;float: left;}
 .about_photo img{border-radius: 75px 15px 75px 15px;width: 100% }

.Why_we{width: 100%; background: url(../image/feature.jpg) center top/cover no-repeat fixed; padding: 50px 0;margin-top: 50px;}
.Why_we .logo_25{width: 25% ;float: left;padding-bottom: 25px;}
.logo_25 img {width: 100%}
.Why_we_text {position: relative;margin-left :320px}
.Why_we_text h1{color:white; font-size: 36px;}
.Why_we_text ul{margin-left: 15px;padding: 0;}
.Why_we_text ul li {width: 47%; float: left;margin: 0;list-style: none;position: relative;padding-left: 15px;color: white;}
.Why_we_text ul li::before{content:'';width: 6px;height: 6px;border-radius: 6px;position: absolute;;background-color:#d30028;top: 5px;left: 0}

.our_clients { margin-top: 40px }
.our_clients .cantainer h2{color:#011d6a;text-align: center;}
.clients_block{width: 100%;position: relative;}
.clients_box{width: 16%;margin: 0 1.5%; border:1px solid #b9b9b9;border-radius: 10px;float: left;}
.clients_box .clients_box_img{ width: 80%; margin: 20px auto;}
.clients_box .clients_box_img img{width: 100% ; filter: grayscale(100%);}
.clients_box .clients_box_img img:hover{ filter: grayscale(0%);}

.map_area {width: 100%;margin-top: 50px;}
.map_area .quick_conteat{float: left; width: 40%;background-color: #011d6a;padding: 10px 30px 50px 30px;}
.map_area .quick_conteat h1{color: #fff; font-weight: 400;font-size: 36px;}
.map_area .quick_conteat .add_icon {color:#fff; font-size: 10px;position:relative;line-height: 25px;}
.map_area .quick_conteat .add_icon i {color: #d30028;margin-right: 10px; background-color: #fff;font-size: 30px; padding: 5px; border-radius: 50%;left: 0;width: 50px; line-height: 50px;text-align: center;float: left;}
.map_area .quick_conteat  .icon_text { color: #fff;margin-right: 30px}
.map_area .quick_conteat  .icon_text span {color: #fff;line-height: 30px;font-size: 22px;font-weight: 700;}
.map_area .map{width: 56%;;float: left;}

.footer{width: 100%;}
.footer .copy{width: 49%; float:left;x;color: white;padding-left: 15px}
.footer .footer_media{width: 50% ; float: left;background-color:#000a26}
ul.media {list-style:none;float: right;padding-right: 80px;}
ul.media li{list-style: none; float: right;padding: 0 15px;}
ul.media li a i{color:#fff; font-size: 20px}
ul.media li a i:hover {color: #d30028;}

/* ----------------- about page -------------------- */

.title_sec  { width: 100%;float: left;padding: 0px 0;margin: 0;background: url(../image/feature.jpg) center top/cover no-repeat fixed;background-size: cover !important;text-align: center;}
.title_sec .about_gb{background: rgba(0, 0, 0, 0.6);padding: 60px;}
.title_sec .about_gb h1{color: #fff;font-size: 36px;}
.title_sec .about_gb h3{color: #fff;font-weight: 200px;}
.title_sec .about_gb a{color: #fff; text-decoration: none;}
.title_sec .about_gb a:hover{text-decoration: underline;}
.title_sec .about_gb span{color: #d30028}

.about_text2 {width: 100%; margin-top: 60px;}
.about_text2 span{color: #d30028; font-weight: 700;}
.about_text2 h1{color:#011d6a;font-weight: 700;margin: 10px 0 15px 0;line-height: 35px}
.about_text2 p{ margin-bottom: 10px;line-height: 30px;font-size: 16px}
.about_text2 ul {margin-left:15px; padding: 0;}
.about_text2 ul li {width: 47%; float: left;margin: 0;list-style: none;position: relative;padding-left: 15px}
.about_text2 ul li::before{content:'';width: 6px;height: 6px;border-radius: 6px;position: absolute;;background-color:#d30028;top: 5px;left: 0}

.org {width: 100%; background-color: #f5f5f5;margin-top: 50px;padding-bottom: 50px}
.org h1{ color: #011d6a; text-align: center;padding-top: 50px;font-size: 36px;font-weight: 400}
.org span{color: #d30028;font-weight: 700;}
.org .org_photo .org_frame{width: 23% ; margin: 0 0.5%;border: 1px solid #fff;float: left;}
.org .org_photo .org_frame img{width: 100%}
.org .org_photo .org_block .org_box{width: 20% ; margin: 0 2.1%; background-color: #fff;float: left;margin-top: -30px}
.org .org_photo .org_block .org_box h1{color: #011d6a;text-align: center;font-weight: 400;padding-top: 0px;font-size: 20px}
.org .org_photo .org_block .org_box span{color: #d30028;font-weight: 700}
.org .org_photo .org_block .org_box p{text-align: center;margin-top: -10px; color: #011d6a;font-size:14px}
.org .org_photo .org_block .org_box ul{list-style: none;margin: 0 auto;display: inline-block;}
.org .org_photo .org_block .org_box ul li{list-style: none;float: left;padding: 0 10px;text-align: center;}
.org .org_photo .org_block .org_box ul li a i{color:#011d6a; font-size: 16px;margin-bottom: 25px}
.org .org_photo .org_block .org_box ul li a i:hover{color:#d30028}

.our {width: 100%;margin: 50px 0;}
.our .our_{width: 44% ; margin: 0 25px;float: left;}
.our .our_ .our_img{width: 40%}
.our .our_ .our_img img{width: 100%}
.our .our_ .our_text h2 {color: #011d6a;font-weight: 400}
.our .our_ .our_text span{color: #d30028}

/* ----------------- products page -------------------- */

.products{width: 100%;margin: 50px 0}
.products .box_row .box{width: 27%;margin: 1.7%;border: 2px solid lightgray;float: left;padding: 15px;position: relative;}
.products .box_row .box i{color: black;font-size: 36px;opacity: 0;transition: 0.5s;top: 50%;left:50%;position: absolute;margin-left: -18px;margin-top: -18px}
.products .box_row .box img{width: 100%;opacity: 1;backface-visibility: hidden;transition: 0.5s}
.products .box_row .box:hover {border: 2px dashed black}
.products .box_row .box:hover img{opacity: 0.3}
.products .box_row .box:hover i{opacity: 1}
.products .box_row .box h4{color: #011d6a;font-weight: 700}
.products .box_row .box p{font-weight: 400;font-size: 14px;margin-top: -10px}

/* ----------------- content page -------------------- */

.contact_us {width: 100%; margin: 50px 0}
.contact_us .get_in_touch {width: 60%; float: left;}
.contact_us .get_in_touch h1{color: #011d6a;font-size: 26px}
.contact_us .get_in_touch .form_elemet {width: 45%;float: left;margin:15px}
.contact_us .get_in_touch .form_elemet2 {width: 97%;margin:15px}
.contact_us .get_in_touch .text_area {width: 97%;margin:15px}
.contact_us .get_in_touch .form_elemet label{color: #d30028;font-size: 16px;}
.contact_us .get_in_touch .form_elemet input{border: 1px solid lightgray;border-radius: 3px;padding: 10px;color: gray; width: 97%}
.contact_us .get_in_touch .form_elemet2 input{border: 1px solid lightgray;border-radius: 3px;padding: 10px;color: gray; width: 97%}
.contact_us .get_in_touch .form_elemet2 label{color: #d30028;font-size: 16px;}
.contact_us .get_in_touch .text_area textarea{border: 1px solid lightgray;border-radius: 3px;padding: 10px;color: gray; width: 97%}
.contact_us .get_in_touch .text_area label{color: #d30028;font-size: 16px;}
.contact_us .get_in_touch .button {background-color: #d30028;padding: 15px 35px;font-size: 16px;border-style: none;margin: 15px;border-radius: 6PX}
.contact_us .get_in_touch .button a{text-decoration: none;color: #fff;}

.contact_us .con_detail {width: 36%; float: left;margin-left: 25px}
.contact_us .con_detail h1{color: #011d6a;font-size: 26px}
.contact_us .con_detail p{color: #011d6a;font-size: 16px}
.contact_us .con_detail .con_icon_text .con_icon{margin: 5px 0; width: 10%;float: left;}
.contact_us .con_detail .con_icon_text .con_icon i{background-color: #011d6a;font-size: 16px;border-radius: 6px;padding: 8px;color: #fff;}
.contact_us .con_detail .con_icon_text .con_text {width: 90% ;float: left;margin: 5px 0;}
.contact_us .con_detail .con_icon_text .con_text p{color: black;margin-top: 3px}
